# Environment variables that you want to override. 
# Scripts will first look for variables in this file before looking in common.env
# For example, if you want to override the value of CLUSTER_NAME, you can add the following line to this file:

# Overrides must always be defined as "export VAR_NAME=value" to be picked up by the scripts. 
# Do not define variables without "export" or they will be ignored.

# This is also the file where you will add any secrets, keys or passwords needed for your cluster. 
# Make a copy of overrides.env.example to overrides.env
# overrides.env is .gitignored 


# Prefix for all resources created by the scripts. 
# Must be 3-6 lowercase letters followed by a hyphen (e.g., "abc-"). 
# This helps avoid naming conflicts and makes it easier to identify resources created by this project.
export TF_VAR_resource_prefix="demo-001"
export TF_VAR_owner="demo-owner-name"

# AWS Specific overrides
TF_VAR_aws_profile="default"

# Azure Specific overrides. No defaults for these since Azure CLI 
# needs to be authenticated to a specific tenant and subscription 
# before creating resources.
export TF_VAR_azure_subscription_id="00000000-0000-0000-0000-000000000000"
export TF_VAR_azure_tenant_id="00000000-0000-0000-0000-000000000000"


# GCP Specific overrides. No defaults for these since gcloud CLI needs to be authenticated to a specific project before creating resources.
export TF_VAR_gcp_project_id="my-gcp-project-id"
export TF_VAR_gcp_zone="my-gcp-zone"  


# Kubernetes version override. 
#export TF_VAR_k8s_version="1.35"
#export TF_VAR_eks_k8s_version="${TF_VAR_k8s_version}"
#export TF_VAR_aks_k8s_version="${TF_VAR_k8s_version}"
#export TF_VAR_gke_k8s_version="${TF_VAR_k8s_version}"

# Local Public IP is automatically Allowed.
# Optionally, list additional IP ranges allowed to access cluster API server.
#export TF_VAR_allowed_additional_CIDR="192.168.0.0/16,1.3.4.1/32,2.3.0.0/16,100.200.0.0/16" 
